<% layout("/layouts/boilerplate") -%>

<style>

    #filters{
      display: flex;
      overflow-x: auto;
      align-items: center;
    }
    #filters::-webkit-scrollbar{
      display: none;
    }
    #filters a{
      color: black;
      text-decoration: none;
    }
    .filter{
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.7;
    
    }
    .filter:hover{
      opacity: 1;
      cursor: pointer;
      transform: scale(1.05) !important;
      transition: 100ms ease all !important;
    }
    .filter p{
      font-size: 0.9rem;
    }
    .tax-info{
      display: none;
    }
    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.1rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      
    }

</style>

    <div id="filters">

      <a href="/listings/filter/1">
      <div class="filter">
        <div ><i class="fa-solid fa-fire"></i></div>
        <p> Trending </p>
     </div>
    </a>

    <a href="/listings/filter/2">
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p> Rooms</p>
      </div>
    </a>
    <a href="/listings/filter/3">
      <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p> Iconic Cities</p>
      </div>
    </a>

      <a href="/listings/filter/4">
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p> Mountains</p>
      </div>
    </a>

      <a href="/listings/filter/5">
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p> castles</p>
      </div>
    </a>

      <a href="/listings/filter/6">
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p> Amazing Pools</p>
      </div>
    </a>

      <a href="/listings/filter/7">
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p> Camping </p>
      </div>
    </a>

      <a href="/listings/filter/8">
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p> Farms</p>
      </div>
    </a>

      <a href="/listings/filter/9">
      <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p> Arctic</p>
      </div>
    </a>

      <a href="/listings/filter/10">
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p> Domes</p>
      </div>
    </a>

      <a href="/listings/filter/11">
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p> Boats </p>
      </div>
    </a>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
        </div>
      </div>
    </div>

    <div class="row row-cols-lg-5 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of all ){ %>
        <a href="/listings/<%=listing._id%>" class="list-link">
        <div class="card col listing-card devang2">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing image"style="height:20rem" >
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
               <b><%= listing.title %></b>  <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>   
              <b class="tax-info"> &nbsp; &nbsp;+ &#8377; <%= (listing.price * 18) / 100 %> <br>(+18% GST)</b>
              </p>
            </div>
          </div>
        </a>
          <%}%>
    </div>

<script>
  //for add taxes
    let taxswitch= document.getElementById("flexSwitchCheckDefault");
    taxswitch.addEventListener("click",()=>{
      let taxInfo= document.getElementsByClassName("tax-info");

      for(info of taxInfo){
        if(info.style.display != "inline"){
          info.style.display= "inline";

        }else{
          info.style.display= "none";
        }
      
      }
    });



</script>

